.subtotal {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 100px;
  padding: 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
}

.subtotal__gift {
  display: flex;
  align-items: center;
}

.subtotal__gift input {
  margin-right: 5px;
}

.subtotal button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  height: 30px;
  width: 100%;
  border: 1px solid;
  border-radius: 10px;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  /* display: flex; */
  /* flex-direction: row; */
  margin: 0 auto;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
}
